<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page">
    
  <!--<iframe id="autoIframe" src="http://app.saol.com.au/thefoodist/customer_form.php?allowedsuffix={{ settings.company_email_suffix }}&allowedcompanies={{ settings.company_allowed}}" width="100%" height="850px;" frameborder="0" scrolling="no" ></iframe>-->
  <div id="corporatelinks" style="display:none;">
     {{ page.content }}
  </div>
</div>

